###############################################################################
# Do not normalize line endings for .vcr files
###############################################################################
*.vcr -text
